.App {
  text-align: center;
}

nav{
  display: flex;
  min-height: 10vh;
  background:rgb(100, 137, 150);
  align-items: center;
  justify-content: space-around;
  color: #ffff;
}
 .nav-link{
   width:10%;
   align-items: center;
   justify-content: space-around;
   display: flex;
   list-style: none;
 }

